/* define colors */

:root {
    --black: #0A0A0A;
    --grey: #151515;
    --light-grey: #2c2c2c;
    --gold: #F9D371;
    --dark-blue: #0d0f14;
    --pink: #EF2F88;
    --purple: #8843F2;
    --orange: #F47340;



    /* --black: #0A0A0A;
    --grey: #151515;
    --light-grey: #2c2c2c;
    --gold: #f7cf45;
    --dark-blue: #0d0f14;
    --pink: #cb356b; */
}


/* -------------------------------------------------------- */
/* CSS RESET                                                */
/* -------------------------------------------------------- */



/* This is to attempt to make the webpage look the same in every browser */

/* box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* margins */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
    margin: 0;
}


/* set up the body */

body {
    line-height: 1.5;
    min-height: 100vh;

}

/* make images easier to work with */

img,
picture {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */

@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


html {
    scroll-behavior: smooth;
}

/* make it so you can't scroll horizontally */
.siteWrapper {
    position: relative;
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin-bottom: 0;
}


::-webkit-scrollbar {
    background-color: var(--dark-blue);
    border-left: solid 1px rgba(255, 255, 255, 0.198);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.198);
    border-radius: 20px;
    border: 4px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.403);
}

/*-------------------*/
/* NEW NAVBAR        */
/*-------------------*/









header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 99;
    font-family: "Poppins";
}

#chk1 {
    display: none;
}

i {
    color: #fff;
    cursor: pointer;
}


header ul {
    flex: 2;
    display: flex;
    justify-content: space-evenly;
}

header ul li {
    list-style: none;
}

header ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 15px;
}

header ul li a:hover {
    border-bottom: 2px solid var(--gold);
}

header .menu {
    font-size: 2.5em;
    display: none;
}

@media(max-width:1000px) {

    header ul {
        position: fixed;
        top: 100px;
        right: -100%;
        background: rgba(0, 0, 0, 0.7);
        height: calc(100vh - 100px);
        width: 40%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
    }

    header .menu {
        display: block;
        width: 100vw;

        text-align: center;
    }

    #chk1:checked~ul {
        right: 0;

    }

}



/*-------------------*/
/* HERO SECTION      */
/*-------------------*/



#parallax {
    width: 100%;
    height: 100vh;
    background-color: var(--pink);
    background-image: url("img/studio2.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.hero-content {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.hero-text h1 {
    font-size: 6rem;
    margin-bottom: 25px;
    text-transform: capitalize;
    font-family: 'Kanit', sans-serif;
    color: white;
}

.hero-text span {
    letter-spacing: 0.5rem;
    font-size: 6rem;
    margin-bottom: 25px;
    text-transform: capitalize;
    font-family: 'Kanit', sans-serif;
    color: var(--gold);
}

.hero-text h5 {
    color: #fff;
    font-size: 3rem;
    font-family: 'Kanit', sans-serif;
    margin-bottom: 60px;
    text-transform: capitalize;
    letter-spacing: 2px;
}


.hero-text button {
    position: relative;
    font-family: 'Poppins', sans-serif;

    text-decoration: none;
    padding: 10px 30px;
    border-radius: 30px;

    font-size: 1.5rem;
    transition: all 0.3s ease;

    color: var(--gold);
    background-color: transparent;
    border: solid var(--gold);
}



.hero-text button:hover {
    border: solid white;
    background-color: var(--gold);
    color: black;
    cursor: pointer;
}



@media screen and (max-width: 1240px) {}

@media screen and (max-width: 1172px) {
    .hero-text h1 {
        font-size: 5rem;
        margin-bottom: 20px;
    }

    .hero-text span {
        font-size: 5rem;
        margin-bottom: 20px;
    }

    .hero-text h5 {
        font-size: 1.8rem;
    }
}



@media screen and (max-width: 650px) {
    .hero-text h1 {
        font-size: 5rem;
        margin-bottom: 20px;
    }

    .hero-text span {
        font-size: 5rem;
        margin-bottom: 20px;
    }

    .hero-text h5 {
        font-size: 1.8rem;
    }
}





/*-------------------*/
/* ABOUT SECTION     */
/*-------------------*/

.about {
    width: 100%;
    height: 100vh;
    background-color: var(--gold);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .about-content img {
    position: relative;
    z-index: 1;
    height: auto;
    width: 600px;
    max-width: 100%;
    filter: drop-shadow(0px 0px 5px black);
    margin-bottom: 85px;
}

.about-text {
    width: 550px;
    max-width: 100%;
    padding: 0 10px;
}

.about-content {
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.about-text h1 {
    font-size: 4rem;
    margin-bottom: 25px;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    color: var(--black);

}

.about-text h5 {
    color: black;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 25px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.about-text p {
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 1px;
    margin-bottom: 45px;
}


.about-text button {
    position: relative;
    font-family: 'Poppins', sans-serif;
    background: var(--black);
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 30px;
    border: solid transparent;
    font-size: 1.5rem;
    transition: all 0.3s ease;
}



.about-text button:hover {
    color: black;
    background-color: transparent;
    border: solid black;
    cursor: pointer;
}

@media screen and (max-width: 1240px) {

    .about {
        width: 100%;
        height: auto;
        padding: 70px 0px;
    }

    .about .about-content img {
        width: 50%;
        height: auto;
    }

    .work iframe {
        width: 500px;
        height: 281.25px;
    }
}



@media screen and (max-width: 1172px) {
    .about .about-content img {
        margin-bottom: 5px;
        max-width: 40%;
    }
}



@media screen and (max-width: 650px) {
    .about-content {
        width: 100%;
        max-width: 80%;
    }

    .about h1 {
        font-size: 3rem;
    }

    .about .about-content img {
        margin-bottom: 30px;
    }

    .about .contact-me {
        width: 100%;
    }
}


/*-------------------*/
/* WORK SECTION      */
/*-------------------*/

.work {
    background-color: var(--pink);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    height: 120vh;
    text-align: center;
    padding: 30px;
}

.work-text {
    max-width: 100%;
    padding: 0 10px;
}

.work-text2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
    padding: 0 10px;
}

.work-text3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
    padding: 0 10px;
}

.work-text h1 {
    font-size: 4rem;
    margin-bottom: 25px;
    text-transform: capitalize;
    font-family: 'Kanit', sans-serif;
    color: white;

}

@media screen and (max-width: 1172px) {

    .work iframe {
        width: 400px;
        height: 225px;
    }
}



@media screen and (max-width: 1240px) {


    .work iframe {
        width: 300px;
        height: 168.75px;
    }
}



@media screen and (max-width: 650px) {
    .work h1 {
        margin-bottom: 60px;
        font-size: 3rem;
    }

    .work {
        height: 130vh;
    }

    .work-content {
        margin-bottom: 100px;
    }
}


/*---------------------------*/
/* CONTACT SECTION           */
/*---------------------------*/

/* remove the ugly stock focus highlights */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}



.contact {
    width: 100%;
    height: 100vh;
    background-color: var(--purple);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-x: hidden;
    font-family: 'Kanit', sans-serif;

}

.form {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    width: 80%;
    max-width: 1000px;
    border: 0;
}

.form-input,
.form-button {
    font-family: inherit;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1.5px;
    border: 0;
    background-color: #fff;
}

.form-input::placeholder {
    opacity: 0.5;
}

.form-input {
    padding: 1.5em;
    width: 100%;
}

.form-input:focus::placeholder {
    color: var(--purple);
    opacity: 0.85;
}

.form-item:nth-of-type(1) {
    position: relative;
}

.form-item:nth-of-type(2) {
    position: relative;
}

.form-item:nth-of-type(3) {
    position: relative;
}

.form-item:nth-of-type(4) {
    position: relative;
}

.form-item:nth-of-type(1)::after {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 2px;
    background-color: var(--purple);
}

.form-item:nth-of-type(2)::after {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 2px;
    background-color: var(--purple);
}

.form-item:nth-of-type(3)::after {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 2px;
    background-color: var(--purple);
}

.form-item:nth-of-type(4)::after {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 2px;
    background-color: var(--purple);
}


.contact h1 {
    font-size: 4rem;
    margin-top: 10px;
    margin-bottom: 50px;
    text-transform: capitalize;
    font-family: 'Kanit', sans-serif;
    color: white;
}


.form-button {
    background-color: var(--pink);
    color: white;
    padding: 1em 2em;
    font-size: 1.5rem;
    border: solid white;
    transition: all 0.3s ease;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

.form-button:hover {
    color: white;
    background-color: var(--purple);
    border: solid white;
    cursor: pointer;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}



@media screen and (max-width: 1172px) {}



@media screen and (max-width: 1240px) {}



@media screen and (max-width: 650px) {}



/*-------------------*/
/* FOOTER SECTION    */
/*-------------------*/


.footer__container {
    background-color: var(--pink);
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

#footerLogoStevePerrino {
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}


.social__icon--link {
    color: #fff;
    font-size: 24px;
    transition: all 0.3s ease;
}

.social__icon--link:hover {
    color: var(--gold);
}

.social__media {
    width: 100%;
}

.social__media--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 60%;
    margin: 40px auto 0 auto;
}

.social__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

.website__rights {
    color: #fff;

}

@media screen and (max-width: 1400px) {

    .social__media--wrap {
        max-width: 100%;
    }


    #footerLogoAudio {
        margin-bottom: 2rem;
    }

    .website__rights {
        margin-bottom: 3rem;
    }

    .social__media--wrap {
        flex-direction: column;
    }

}

@media screen and (max-width: 480px) {}